body {
    font-family: Arial;
    background: #f0f0f0;
    text-align: center;
}

.container {
    background: red;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}

input {
    padding: 10px;
    width: 65%;
    color: black;
}

button {
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
